[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "==2.6.0"
matplotlib = "*"
numpy = "*"
librosa = "*"
pandas = "*"
boto3 = "*"
tensorflow = "*"
pipenv = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
